<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:label="Test GLU"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">  <!-- ← ГЛАВНОЕ: ДОБАВЬТЕ ЭТУ СТРОКУ -->
        <activity
            android:name="com.test.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.test.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.test.activity.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.activity.GraphActivity"
            android:exported="false" />

        <service
            android:name="com.test.broadcast.BroadcastService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.test.broadcast.BroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.librelink.app.ThirdPartyIntegration.GLUCOSE_READING" />
            </intent-filter>
        </receiver>
    </application>
</manifest>